In [19]:
import pandas as pd

In [20]:
data = pd.read_excel('../data/service-data.xlsx')

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28484 entries, 0 to 28483
Data columns (total 7 columns):
Invoice Date             28482 non-null datetime64[ns]
Job Card Date            28482 non-null datetime64[ns]
Business Partner Name    28484 non-null object
Vehicle No.              28484 non-null object
Vehicle Model            28482 non-null object
Current KM Reading       28482 non-null float64
INVOICE LINE TEXT        28449 non-null object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 1.5+ MB

 ## Drop unwanted columns
 We are only interested in Invoice Date, Vehicle Model and INVOICE LINE TEXT

In [22]:

data = data.drop(columns=['Job Card Date', 'Business Partner Name', 'Vehicle No.', 'Current KM Reading'])

data.head(1)

  Invoice Date             Vehicle Model INVOICE LINE TEXT
0   2017-05-30  BAJAJ AVENGER STREET 220        ENGINE OIL

## identify the number of null columns

In [23]:
data.isnull().sum()

Invoice Date          2
Vehicle Model         2
INVOICE LINE TEXT    35
dtype: int64

 ## Drop null data since the number of null data is less

In [24]:
data.dropna(inplace=True)

data.isnull().sum()

Invoice Date         0
Vehicle Model        0
INVOICE LINE TEXT    0
dtype: int64

In [25]:
data.rename(columns = {'Invoice Date':'invoice_date','Vehicle Model':'vehicle_model','INVOICE LINE TEXT':'invoice_line'},inplace=True)

In [26]:
data.to_csv("../data/spare_cleaned.csv",index=False)