In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame(
{
    'a': ['1', '200 $', '10$', float('NaN')],
    'b': ['3', '4', '5', '6']
}
)

In [4]:
a = data.a.str.find('$')
a[(a != -1) & (~ a.isnull())]

1    4.0
2    2.0
Name: a, dtype: float64

In [5]:
b = data.b.str.find('?')
b[b != -1]

Series([], Name: b, dtype: int64)

In [11]:
data = pd.read_excel('../data/service-data.xlsx')

In [16]:
data = data.head(10)

In [17]:
data1 = pd.get_dummies(data, columns=['INVOICE LINE TEXT'])

In [18]:
invoice_line_info = [i for i in data1.columns if 'INVOICE' in i]

In [19]:
data1.groupby('Invoice Date').agg({'INVOICE LINE TEXT_ENGINE OIL': 'sum', 
                                   'INVOICE LINE TEXT_CHAIN LUBRICATION': 'sum'
                                  })

,INVOICE LINE TEXT_ENGINE OIL,INVOICE LINE TEXT_CHAIN LUBRICATION
Invoice Date,,
2017-05-30,1,0
2017-05-31,1,1
2017-06-02,1,1

In [23]:
data2 = data1[ ['INVOICE LINE TEXT_ENGINE OIL', 
                                   'INVOICE LINE TEXT_CHAIN LUBRICATION']
                                  ]
data2.index = data1['Invoice Date']
data2

,INVOICE LINE TEXT_ENGINE OIL,INVOICE LINE TEXT_CHAIN LUBRICATION
Invoice Date,,
2017-05-30,1,0
2017-06-02,1,0
2017-06-02,0,0
2017-06-02,0,0
2017-06-02,0,0
2017-06-02,0,1
2017-06-02,0,0
2017-05-31,1,0
2017-05-31,0,0
2017-05-31,0,1

In [25]:
s = pd.Series(list('abca'))
s

0    a
1    b
2    c
3    a
dtype: object

In [26]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0