In [3]:
import pandas as pd
import numpy as np
import string
data = pd.read_excel('service-data.xlsx')
data.head(2)

,Invoice Date,Job Card Date,Business Partner Name,Vehicle No.,Vehicle Model,Current KM Reading,INVOICE LINE TEXT
0,2017-05-30,2017-05-30,shivXXXXXXXXXX,KA03MFXXXX,BAJAJ AVENGER STREET 220,50000.0,ENGINE OIL
1,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,ENGINE OIL

In [4]:
data.head(5)
data.isnull().sum()

Invoice Date              2
Job Card Date             2
Business Partner Name     0
Vehicle No.               0
Vehicle Model             2
Current KM Reading        2
INVOICE LINE TEXT        35
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28484 entries, 0 to 28483
Data columns (total 7 columns):
Invoice Date             28482 non-null datetime64[ns]
Job Card Date            28482 non-null datetime64[ns]
Business Partner Name    28484 non-null object
Vehicle No.              28484 non-null object
Vehicle Model            28482 non-null object
Current KM Reading       28482 non-null float64
INVOICE LINE TEXT        28449 non-null object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 1.5+ MB

In [6]:
#alphabet = '$?*-'
#df = pd.DataFrame({'col1':['abc', 'hello?'], 'col2': ['ÃÉG', 'Ç']})

#string_columns = ['Business Partner Name', 'Vehicle No.', 'Vehicle Model', 'INVOICE LINE TEXT']
#for i in string_columns:
 #   x = data[i].str.strip(alphabet).astype(bool).any()
 #   print(i, x)

In [7]:
#invoice = data[i].str.find('?')
#print(invoice.size)
#invoice.sum()

In [8]:
#df = pd.DataFrame(
#{'a': ['1', '2$', float('NaN')],
#'b': [1, 2, 3]
#}
#)

#df.a.str.find('$')

In [18]:
data.head()

,Invoice Date,Job Card Date,Business Partner Name,Vehicle No.,Vehicle Model,Current KM Reading,INVOICE LINE TEXT
0,2017-05-30,2017-05-30,shivXXXXXXXXXX,KA03MFXXXX,BAJAJ AVENGER STREET 220,50000.0,ENGINE OIL
1,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,ENGINE OIL
2,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,POLISH
3,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,CONSUMABLES
4,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,COOLANT OIL

In [10]:
# get total missing values
missing_val = data.isnull().sum().sum()

In [11]:
total_records = data.shape[0]
print(total_records)
missing_perc = (missing_val / total_records) * 100
print(missing_perc)

28484
0.15096194354725462

In [12]:
# since missing perc is < 5 , drop records with missing values.
data.dropna(inplace=True)

data.isnull().sum()

Invoice Date             0
Job Card Date            0
Business Partner Name    0
Vehicle No.              0
Vehicle Model            0
Current KM Reading       0
INVOICE LINE TEXT        0
dtype: int64

In [20]:
#data.head()
data_cols = list(data.columns)
data_cols[6] = 'sales'
data.columns = data_cols
data.head(10)

,Invoice Date,Job Card Date,Business Partner Name,Vehicle No.,Vehicle Model,Current KM Reading,sales
0,2017-05-30,2017-05-30,shivXXXXXXXXXX,KA03MFXXXX,BAJAJ AVENGER STREET 220,50000.0,ENGINE OIL
1,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,ENGINE OIL
2,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,POLISH
3,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,CONSUMABLES
4,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,COOLANT OIL
5,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,CHAIN LUBRICATION
6,2017-06-02,2017-05-31,KIRAXXXXXXXXXX,KA53ESXXXX,BAJAJ PULSAR NS 200,758.0,4 WAY SWITCH
7,2017-05-31,2017-05-31,pattXXXXXXXXXX,KA53EMXXXX,BAJAJ PLATINA,3717.0,ENGINE OIL
8,2017-05-31,2017-05-31,pattXXXXXXXXXX,KA53EMXXXX,BAJAJ PLATINA,3717.0,3M OIL
9,2017-05-31,2017-05-31,pattXXXXXXXXXX,KA53EMXXXX,BAJAJ PLATINA,3717.0,CHAIN LUBRICATION

In [34]:
data_groups = data.groupby('sales')
data_groups
data['sales'].value_counts()

ENGINE OIL                 3802
CHAIN LUBRICATION          3441
GENERAL SERVICE            2142
AIR FILTER                 1715
3M OIL                     1628
CONSUMABLES                1595
POLISH                     1245
DISC OIL                    991
BRAKE SHOE                  965
OIL FILTER                  821
DISC PAD                    575
WHEEL RUBBER                521
AIR FILTER CHECKUP          467
SPARK PLUG                  421
CHAIN SPROCKET              396
SPROCKET RUBBER             347
SPROCKET BEARING            314
CHAIN OVERHAUL              284
CLUTCH CABLE                263
CLUTCH ASSEMBLY             212
CLUTCH COVER GASKET         190
CLUTCH OVERHUAL             163
TANK COVER                  134
LABOUR                      131
SEAT COVER                  119
INDICATOR                   110
DISC PUMP KIT               104
DRUM BOLT                   103
TAIL LAMP BULB              101
FOOT REST                    99
                           ...
LIGHTING COIL                 1
YOKE SET                      1
HANDLEBAR RUBBER              1
REAR TAIL LAMP GRILL          1
BORE                          1
ENGINE OVERHUAL               1
HELMET                        1
DRUM                          1
TANK  RUBBER                  1
STAND RUBBER                  1
WIRING CHECK WITH LABOR       1
SWITCH                        1
FUEL TAP                      1
CLUTCH OUTLET PIPE            1
CALIPER RUBBER KIT            1
STOPPER                       1
ONE WAY BODY                  1
BODY COVER                    1
U BUSH                        1
LEVER BOLT                    1
BRAKE BUSH KIT                1
HEAD LIGHT WIRING             1
RADIATOR FAN                  1
HANDLE BAR LIGHT              1
POWER COIL                    1
GEAR LEVER BUSH               1
BATTERY TARMINAL              1
GEAR BOX OIL                  1
CLUTCH ADJUSTMENT             1
DISK PLATE                    1
Name: sales, Length: 502, dtype: int64

In [39]:
data.head(10)
#data.info()
#data['sales'] = data['sales'].apply(pd.to_numeric)
#data['sales'] = data['sales'].astype(int64)

#mycount
# converting invoice date to invoice month and year
import datetime

data['invoice_month_year'] = pd.to_datetime(data['Invoice Date']).dt.to_period('M')
data.head(5)
mycount = data.groupby('invoice_month_year')['sales'].count()
mycount

invoice_month_year
2017-05      11
2017-06    1341
2017-07    1177
2017-08     971
2017-09    1264
2017-10    1054
2017-11    1376
2017-12    1345
2018-01     998
2018-02    1328
2018-03    1483
2018-04    1405
2018-05    1447
2018-06    1599
2018-07    1550
2018-08    1588
2018-09    2000
2018-10    2123
2018-11    1780
2018-12    2257
2019-01     351
Freq: M, Name: sales, dtype: int64

In [48]:
check = data.groupby(["sales","invoice_month_year"]).size().reset_index(name="monthly_sales")
#check
#check['sales']
parts_name = check['sales'].unique()

In [50]:
sales_data = pd.DataFrame()
for i in parts_name :
    sales_data[i] = ''
    
new_cols = list(sales_data.columns)
#new_cols

In [51]:
sales_data.head()

Empty DataFrame
Columns: [10 SIZE NUT, 12 SIZE BOLT, 3M OIL, 4 WAY SWITCH, 6004 BEARING, 6202 BEARING, 6303 BEARING, 8 SIZE BOLT, ACCELATOR CABLE, ADD ON FEES, AIR FILTER, AIR FILTER CHECKUP, AIR INTAKE, AXLE, BALANCING GEAR, BATTERY, BATTERY BELT, BATTERY CHARGE, BATTERY CLIP, BATTERY TARMINAL, BC UNIT, BEARING, BEARING SET, BEARING WIELDING, BEDDING BOLT, BODY , BODY COVER, BOLT REMOVAL, BOLT WIELDING, BORE, BORE GASKET, BORE KIT, BOTTLE COIL, BRAKE ADJUSTMENT, BRAKE BUSH KIT, BRAKE CABLE, BRAKE LEVER, BRAKE LIGHT SPRING, BRAKE LIGHT SWITCH, BRAKE LIGHT SWITCH , BRAKE PEDAL, BRAKE PEDAL RUBBER, BRAKE PEDAL SPRING, BRAKE ROD, BRAKE ROD SPRING, BRAKE RUBBER, BRAKE SHOE, BRAKE SWITCH, BULB, BULB , BULB HOLDER, BUSH KIT, BUZZER, CABLE LOCK, CAHIN PAD SCREW, CALIPER ASSEMBLY, CALIPER RUBBER KIT, CAM SHAFT, CAM SHAFT SPRING, CARBURETOR, CARBURETOR ASSEMBLY, CARBURETOR CLEANING, CARBURETOR DIAPHRAGM RUBBER, CARBURETOR PLATE, CARBURETOR SPRING, CASE BEARING, CASE WELDING, CDI UNIT, CENTER STAND, CENTER STAND SPRING, CHAIN ADJUSTER, CHAIN ADJUSTER PLATE, CHAIN COVER BEADING, CHAIN COVER BOLT, CHAIN COVER RUBBER, CHAIN LINK LOCK, CHAIN LUBRICATION, CHAIN OVERHAUL, CHAIN PAD, CHAIN SET, CHAIN SPROCKET, CHOKE CABLE, CHOKE SENSOR, CLUTCH ADJUSTMENT, CLUTCH ASSEMBLY, CLUTCH BELL REST, CLUTCH CABLE, CLUTCH CAM , CLUTCH CAM SPRING, CLUTCH CAM SWITCH, CLUTCH COVER GASKET, CLUTCH COVER PACKING, CLUTCH LEVER, CLUTCH OUTLET PIPE, CLUTCH OVERHUAL, CLUTCH REPALCEMENT, CLUTCH ROLLERS, CLUTCH SHOE, CLUTCH SPRING KIT, CLUTCH SWITCH, ...]
Index: []

[0 rows x 502 columns]